spring:
  application:
    name: abuba
  profiles:
    active: prod
  jwt:
    secret: spring.jwt.secret=vmfhaltmskdlstkfkdgodyroqkfwkdbalroqkfwkdbalaaaaaaaaaaaaaaaabbbbb
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  datasource:
    hikari:
      maximum-pool-size: 1000  # 원하는 최대 연결 수로 변경
      minimum-idle: 10        # 최소 유휴 연결 수
      idle-timeout: 3600    # 유휴 연결 타임아웃 (second)
      connection-timeout: 3600 # 연결 대기 타임아웃 (second)

#actuactor
management:
  endpoints:
    web:
      exposure:
        include: health, metrics
  metrics:
    export:
      logging:
        enabled: true
        step: 60s  # 60초마다 로그로 메트릭 출력

springdoc:
  swagger-ui:
    path: /swagger # Swagger UI를 표시할 커스텀 경로
  api-docs:
    path: /docs  # API 문서 경로를 커스텀

accountNo1: 0010307956085451
accountNo2: 0017126350155275

api:
  key: 50f3e70a64074c42a5905b877ea1b194
user:
  key: 53714417-7f2c-4bed-8608-f7d39353bbd9
#security log
logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.web.access: DEBUG
    org.springframework.security.authentication: DEBUG
