spring:
  application:
    name: abuba
  profiles:
    active: local
  jwt:
    secret: spring.jwt.secret=vmfhaltmskdlstkfkdgodyroqkfwkdbalroqkfwkdbalaaaaaaaaaaaaaaaabbbbb

springdoc:
  swagger-ui:
    path: /swagger # Swagger UI를 표시할 커스텀 경로
  api-docs:
    path: /docs  # API 문서 경로를 커스텀

finApiKey: 50f3e70a64074c42a5905b877ea1b194
#security log
logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.web.access: DEBUG
    org.springframework.security.authentication: DEBUG